.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000000; /* Example background color */
  height: 100vh; /* Ensure the container takes up the full viewport height */
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Adjust as needed */
}

.text-container {
  max-width: 50%;
  margin-right: 20px; /* Add space between text and image */
}

.main-text {
  font-size: 2em;
  margin-bottom: 10px;
  color: bisque;
}

.highlight-text {
  color: #e63946; /* Example highlight color */
}

.sub-text {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.banner-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #178bf1; /* Match the highlight color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #d62828;
}

.banner-image {
  max-width: 60%; /* Adjust the size as needed */
  height: auto;
}
