/* ProcessBanner.css */
.process-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF; /* Change to your desired background color */
  }
  
  .process-banner-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    text-align: left;
  }
  
  .process-text-container {
    max-width: 600px;
    margin-right: 20px;
  }
  
  .process-main-text {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    margin: 20px 0;
  }
  
  .highlight-text {
    color: #007BFF; /* Change to your desired highlight color */
  }
  
  .process-steps {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    list-style-type: decimal;
  }
  
  .process-banner-button {
    background-color: #007BFF;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .process-banner-button:hover {
    background-color: #0056b3;
  }
  
  .process-banner-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  